/* import colors */
:import("../../../../styles/variables.scss") {
    colorBorder: colorBorder;
    colorPrimary: colorPrimary;
}

:local {
    .DropdownButton {
        display: block;
        width: 100%;
        padding: 10px 12px;

        line-height: 20px;

        cursor: pointer;

        &:hover {
            opacity: 0.75;
        }
    }

    .active {
        color: colorPrimary;
    }
}
